<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="regression-test" parallel="methods" thread-count="4" verbose="5">
    <test name="regressionTests" verbose="5">
        <packages>
            <package name="com.wakatuts.*"/>
        </packages>
    </test>
</suite>