<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="regression-test" parallel="methods" thread-count="5" verbose="5">
    <test name="regressionTests" verbose="5">
        <classes>
            <class name="com.wakatuts.DummyTest"/>
        </classes>
    </test>
</suite>